<a href="https://colab.research.google.com/github/didiercsgm/THC/blob/main/THC_DIDIER_CAMILLE_GAETAN_SERRANO_MORENO_3_10_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i=0

while i<10:
  i+=1
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
k = 50

sum = 0

for i in range(k+1):
  sum = sum+i

print(sum)

1275

In [ ]:
sum = 0

k = 50

i = 1

while i < k+1:
  sum = sum+i
  i+=1

print(sum)

1275

In [ ]:
k = 11

fac = 1

for i in range(1,k+1):
  fac = fac*i

print(fac)

39916800

In [ ]:
k = 100

for i in range(1,k+1):
  if(i%2 == 0):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
set = {2,4,5,6,9,17}

for i in range(len(set)):
  print(set{i})

In [ ]:
vegetales = ["broccoli", "espinaca", "aspárrago", "col de bruselas"]

for vegetal in vegetales:
  print(vegetal)

broccoli
espinaca
aspárrago
col de bruselas

In [ ]:
vegetales = ["broccoli", "espinaca", "aspárrago", "col de bruselas"]

veg = str(input("es un vegetal? "))

if veg in vegetales:
  print("sí, es un vegetal")
else:
  print("no es vegetal")

es un vegetal? calabaza
no es vegetal

In [ ]:
import random

nums = []

k = 10
ran = 10

sum = 0

for i in range(k):
  r = random.randint(1,ran)
  nums.append(r)

print(nums)

for j in range(0, len(nums)):
    sum = sum+nums[j]

print(sum)

[1, 5, 6, 8, 5, 9, 7, 3, 9, 2]
55

In [ ]:
import random

cals = []

k = 10
ran = 10

sum = 0

for i in range(k):
  r = random.randint(1,ran)
  cals.append(r)

print(cals)

for j in range(0, len(nums)):
    sum = sum+cals[j]

mean = sum/(len(cals))

print(mean)

[4, 2, 4, 8, 10, 6, 1, 4, 9, 9]
5.7