<a href="https://colab.research.google.com/github/didiercsgm/THC/blob/main/THC_DIDIER_CAMILLE_GAETAN_SERRANO_MORENO_10_10_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
dict = {
    "cat": "siamese",
    "dog": "tabby",
    "dog": "pug",
    "dog": "samoyed"
      }

In [15]:
dict = {"p": 2.7,
        "z": 2.13,
        "pl": 5.7
        }
l = []

for i in dict.keys():
  l.append(dict[i])

print(l)

[2.7, 2.13, 5.7]

In [16]:
import pandas as pd

# Crear un diccionario con datos
datos = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Luisa'],
    'Edad': [25, 28, 22, 30],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

# Crear un DataFrame a partir del diccionario
dataframe = pd.DataFrame(datos)

# Mostrar el DataFrame
print(dataframe)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    28  Barcelona
2  Pedro    22   Valencia
3  Luisa    30    Sevilla

In [23]:
frutas = ("banana", "annanas", "mango")

for fruta in frutas:
  print(fruta)

banana
annanas
mango
banana
es fruta

In [26]:
frutas = ("banana", "annanas", "mango")

fru = str(input("es fruta? "))

if fru in frutas:
  print("es fruta")
else:
  print("no es fruta")

es fruta? uvas
no es fruta

In [ ]:
def say_hello():
  print("cómo te llamas?")
  name = str(input())
  print("hola "+name)
  greet = str(input())
  if greet == "hola":
    print("hola")
  else:
    print("no seas grosero")

say_hello()

In [ ]:
def hola(name, apellido):
  print("hola "+name+" "+apellido)

hola(input("cómo te llamas? "),input("y tu apellido? "))

In [ ]:
def mi_funcion(*kids):
    print(len(kids))
    print("El niño menor es " + kids[(len(kids)-1)])

mi_funcion("Emil", "Tobias", "Linus", "Weenus")

In [47]:
def kiddos(niño3,niño2,niño1):
    print("El niño menor es " + niño3)

kiddos(niño1 = "Emil", niño2 = "Tobias", niño3 = "Linus")

El niño menor es Linus

In [86]:
a = []

n = int(input("elementos en el primer vector : "))

for i in range(0, n):
	ele = int(input())
	a.append(ele)

b = []

n = int(input("elementos en el segundo vector : "))

for i in range(0, n):
	ele = int(input())
	b.append(ele)

print(a)

print(b)

def vsum(a,b):

  if len(a) != len(b):
    print("los vectores no se pueden sumar")
    return
  res = []
  for i in range(len(a)):
    res.append(a[i]+b[i])
  print(res)

vsum(a,b)

elementos en el primer vector : 2
1
8
elementos en el segundo vector : 3
3
5
7
[1, 8]
[3, 5, 7]
los vectores no se pueden sumar